.DS_Store
.quarto/
_site/
.jupyter_cache/
slides_files/
*.quarto_ipynb

/.quarto/
**/*.quarto_ipynb
.envrc
.envrc.local
hermes/
.zed/
.vscode/
docs/superpowers
docs/2026-*.md
docs/2026-*.html
layouts/file.slides.json
